* {
  color: white;
}
.container {
  width: 40%;
  height: 80vh;
  border-radius: 20px 0px 0px 20px;
  background-image: url(../assets/cover.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.2);
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.search_bar {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.search_bar input {
  padding: 10px;
  font-size: 15px;
  border: none;
  border-radius: 15px 0px 0px 15px;
  width: 80%;
  color: black;
}

.search_bar button {
  border: none;
  border-radius: 0px 15px 15px 0px;
  width: 16%;
  padding: 10px;
  color: black;
  font-size: 15px;
  text-transform: uppercase;
}

.day {
  font-size: 4rem;
  margin-top: 10px;
}

.date {
  font-size: 2rem;
  font-weight: 300;
  margin-top: 5px;
}

.location {
  font-size: 1.25rem;
  font-weight: 300;
  margin-left: 10px;
}

.location_holder {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 10px;
}

.temp {
  font-size: 9rem;
}

.status {
  font-size: 1.5rem;
  font-weight: 700;
  margin-left: 5px;
}

.condition {
  display: flex;
  flex-direction: row;
  align-items: center;
}
